{% extends 'base.html' %}

{% block title %}
О компании
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="about-title">О компании</h1>
    <p class="about-text">
        Добро пожаловать в медицинскую компанию «СУНКАР» — надежного партнера в сфере здравоохранения. Наша компания представлена в городе Алматы и предоставляет широкий спектр медицинских услуг, включая диагностику, лечение и профилактику болезней. «СУНКАР» предоставляет медицинские услуги с 1995 года и гордится статусом лидера в области частной медицины.
        <br><br>
        Наша команда объединяет опытных врачей с международными сертификатами, научных сотрудников, медицинских аудиторов, сервисных инженеров, а также персонал среднего звена. «СУНКАР» оказывает медицинскую поддержку, придерживаясь стандартов диагностики и лечения, утвержденных Министерством здравоохранения Республики Казахстан.
        <br><br>
        Главная миссия компании — развитие медицины в Казахстане, и наши цели включают в себя постоянное улучшение качества сервиса, развитие медицинского аутсорсинга и повышение культуры здоровья в обществе.
    </p>
</div>

<div class="partners">
    <h1 class="partners-title">Наши партнеры</h1>
    <div class="partnersimg">
        <img src="{{ url_for('static', filename='icons/partners.png') }}" alt="Наши партнеры">
    </div>
</div>
{% endblock %}
