<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Modern Login Page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Создать аккаунт</h1>
                <input type="text" placeholder="Имя">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Придумайте пароль">
                <button>Зарегистрироваться</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <div class="social-icons">
                    <img src="{{ url_for('static', filename='icons/sunkar-logo.png') }}" alt="Logo">
                </div>
                <h1>Войти</h1>
               
             
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Пароль">
                <a href="#">Забыли пароль?</a>
                <a class="btn btn-outline-light ms-3" href="/">Войти</a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <p>Управляйте своим здоровьем удобно и безопасно! Здесь вы можете записаться на приём к врачу, проверить расписание специалистов и получить доступ к медицинским услугам в любое время.</p>
                    
                    <button class="hidden" id="login">назад</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Добро пожаловать в электронную систему очереди «Сункар»!</h1>
            
                    <button class="hidden" id="register">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>

</html>